
.Modal{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  border-radius: 5px;
  width:80%;
  /* height:50%; */
  background:white;
  padding:2px 15px 15px 15px;

  z-index: 60; /* keep on top of other elements on the page */
  box-shadow: 0 0 0 9999px rgba(0,0,0,0.5);
}


.Modal h2{
    text-align: center;
    
}

.Modal input{
    width: 3em;
}

.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
  }


  @media (min-width: 768px){

    .Modal{
      width:350px;
    }

  }